
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ToggleAvail
Exec=/opt/toggleavailability/bin/toggleavailability
Icon=/usr/share/icons/hicolor/80x80/apps/toggleavailability80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_US]=toggleavailability_harmattan.desktop
